section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* customizacion del articulo */
.articulo {
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
}

/* customizacion del articulo */
.articulo_imagen {
    width: 90%;
    margin: 15px;
}

/* customizacion info del articulo */
.articulo_informacion {
    border: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

/* customizacion icon del articulo */
.articulo_camion {
    border: 1px solid #39b54a;
    border-radius: 100px;
    margin: 10px 15px 10px 15px;
    width: 27px;
    padding: 3px;
    position: absolute;
    top: -25px;
    right: 20px;
}

/* customizacion descuento del articulo */
.articulo_descuento {
    color: #39b54a;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 2px;
}

.precio_descuento{
    display: flex;
}