section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* customizacion del articulo */
.articulo {
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(100, 100, 100);
}

/* customizacion del articulo */
.articulo_imagen {
    width: 90%;
    margin: 15px;
}

/* customizacion info del articulo */
.articulo_informacion {
    border: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

/* customizacion icon del articulo */
.articulo_camion {
    border: 1px solid #39b54a;
    border-radius: 100px;
    margin: 10px 15px 10px 15px;
    width: 27px;
    padding: 3px;
    position: absolute;
    top: -25px;
    right: 20px;
}

/* customizacion descuento del articulo */
.articulo_descuento {
    color: #39b54a;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 2px;
}

.precio_descuento{
    display: flex;
}

.articulo .articulo_informacion .articulo_camion i {
    transition: ease 0.5s;
}

.articulo .articulo_informacion .articulo_descripcion {
    display: flex;
    align-items: flex-end;
    display: none;
    transition: ease 2s;
}

.articulo :hover .articulo_descripcion{
    display: block;
}

.articulo :hover .articulo_camion i{
    transform: rotate(90deg);
}

article :hover{
    box-shadow: 1px 1px 10px white;
}