/* font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* customizacion general */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;

}

/* customizacion del Header */
Header {
    padding: 10px 0 5px 10px;
    background-color: #EAC926;
    font-size: 12px;
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 10px;
}

.logo_searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* customizacion logo */
.logo {
    width: 120px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* customizacion searchbar */
.search_bar {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    border: none;
    width: 120px;
    padding: 3px 0 3px 3px;
}

.search_bar button {
    border: none;
    background-color: white;
    position: relative;
    bottom: -2px;
    left: -5px;
}

/* customizacion texto nav */
.propaganda {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* elimino puntos del ul del nav */
.list ul {
    list-style: none;
}

/* customizacion de ul del nav */
.list a {
    text-decoration: none;
    color: black;
}

/* customizacion burger menu */
.burger_menu {
    padding: 10px 2px 10px 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #1259c3;
    color: white;
    width: 35px;
    border-radius: 10px;
}

/* color de fondo de la pagina */
body {
    background-color: #ebebeb;
}

/* ajuste el main */
main {
    width: 90%;
    margin: 0 auto;
}

/* fuente de texto */
p {
    font-size: 12px;
}

/* fuente de texto para titulos */
h1 {
    margin: 20px 0px 20px 0px;
    width: 100%;
}

h1,
h3 {
    font-size: 24px;
    font-weight: bolder;
}

/* fuente de texto precio de articulo */
.articulo_precio {
    font-size: 18px;
}

/* fuente de texto descuento de articulo */
.articulo_descuento {
    font-size: 16px;

}

/* fuente de texto descripcion de articulo */
.articulo_descripcion {
    font-size: 16px;
}

/* customizacion del footer */
.footer {
    text-align: center;
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: italic;
    background-color: white;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
}

/* customizacion del footer icon */
.footer i {
    margin: 30px 0 20px 0;
    opacity: 0.8;
}

/* customizacion del div del footer */
.foot {
    margin: 20px 15px 40px 15px;
}

/* customizacion del copyright del footer */
.copyright {
    text-align: left;
}

/* ajustamos la customizacion para diferentes dispositivos */
/* Mobile */
@media screen and (max-width: 768px) {

    ul {
        display: none;
    }

    .articulo_descripcion {
        display: none;
    }

}

/* Tablet */
@media screen and (min-width: 768px) {

    .list {
        display: flex;
        justify-content: space-between;
        font-size: medium;
        margin: 10px;
    }

    .logo_searchbar {
        flex-grow: 0.6;
    }

    .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
        margin-left: 10px;
    }

    .search_bar {
        border: none;
        padding: 5px;
        font-size: medium;
        width: 200px;
    }

    .logo {
        width: 250px;
    }

    .fa-solid.fa-magnifying-glass {
        font-size: 17px;
    }

    .propaganda {
        display: flex;
    }

    .list1,
    .list2 {
        display: flex;
        justify-content: space-between;
        width: 40vw;
    }

    .burger_menu {
        display: none;
    }

    body {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .articulo_descripcion {
        display: block;
    }

    article {
        width: 49%;
    }

    p {
        font-size: medium;
        margin: 0 0 0 0;
    }

    footer {
        font-size: medium;
        display: flex;
    }

    .foot {
        font-size: large;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .list {
        display: flex;
        justify-content: space-between;
        font-size: large;
        margin: 10px;
    }

    .search_bar {
        border: none;
        padding: 5px;
        font-size: medium;
        width: 320px;
    }

    .logo {
        width: 280px;
    }

    .propaganda {
        font-size: large;
    }

    article {
        width: 24%;
    }
}